<div class="card-body">
  <h1>Chapter04 Template</h1>
  <div class="card-body">
    <a01Component></a01Component><br/>
    <span>────────────────────────────────────────</span>
    <a02Component></a02Component><br/>
    <span>────────────────────────────────────────</span>
    <a03Component></a03Component><br/>
    <span>────────────────────────────────────────</span>
    <a04Component></a04Component>
    <span>────────────────────────────────────────</span>
    <a05Component></a05Component>
    <span>────────────────────────────────────────</span>
    <a06Component></a06Component>
  </div>
</div>